.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.chiplike {
  border-radius: 1em;
}

.toright {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.content-box {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.toolbar {
  width: 100%;
  flex: 0 1 64px;
  background: #424242;

}

.chatbox {
  flex: 1 1 auto;
}